.hw-blurb {
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 16px;
  background-color: #ffe9a1;
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  max-width: 100%;
  font-weight: normal;
  padding: 10px 25px 10px 25px;
  border: 3px solid white;
  outline: 2px solid #f8e8b4;
}

#blurb-title {
    font-family: "Arial", sans-serif;
    color: #EA2222;
    font-size: 16px;
    font-weight: bold;
}

#hw-title {
    background-color: #D5E8FB;
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
}

.hw-head {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 18px;
    background-color: white;
    padding: 25px;
    vertical-align: middle;
}

.table-div {
    margin-top: 25px;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 100px;
    border: 1px solid #2d71b5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
    font-size: 15px;
}

tbody {
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}

td, th {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    vertical-align: inherit;
    display: table-cell;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-top: 1px solid black;
    color: black;
}

.table-even {
    background-color: white;
}

.table-odd {
    background-color: #E0E0E0;
}

@media only screen and (max-width: 990px), (max-device-width: 1024px) and (min-device-width: 768px)
td {
    border: none;
    position: relative;
    padding-left: 50%;
}

@media only screen and (max-width: 990px), (max-device-width: 1024px) and (min-device-width: 768px)
table, thead, tbody, th, td, tr {
    display: block;
}
