#doc-title {
  background-color: #d5e8fb;
  color: black;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
}

.doc-head {
  font-family: 'Raleway';
  color: black;
  font-size: 18px;
  background-color: white;
  padding: 25px;
  vertical-align: middle;
}

.table-div {
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 25px;
  border-radius: 2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  font-weight: normal;
  font-size: 15px;
}

tbody {
  color: black;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

td,
th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  vertical-align: inherit;
  display: table-cell;
}

tr#doc-title {
  border-top: 1px solid #2d71b5;
  border-left: 1px solid #2d71b5;
  border-right: 1px solid #2d71b5;
}

.last-row {
  border-bottom: 1px solid #2d71b5;
  border-radius: 2px;
}

.spacer {
  border-left: none;
  border-right: none;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-top: 1px solid black;
  border-left: 1px solid #2d71b5;
  border-right: 1px solid #2d71b5;
}

.table-even {
  background-color: white;
}

.table-odd {
  background-color: #e0e0e0;
}
