.section-blurb {
  font-family: "Raleway";
  color: black;
  font-size: 16px;
  background-color: #ffe9a1;
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  max-width: 100%;
  font-weight: normal;
  padding: 10px 25px 10px 25px;
  border: 3px solid white;
  outline: 2px solid #f8e8b4;
}

#section-title {
  background-color: #d5e8fb;
  color: black;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
}

#blurb-title {
  font-family: "Raleway";
  color: #ea2222;
  font-size: 16px;
  font-weight: bolder;
}

.section-head {
  font-family: "Raleway";
  color: black;
  font-size: 18px;
  background-color: white;
  padding: 25px;
  vertical-align: middle;
}

.table-div {
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 60px;
  border: 1px solid #2d71b5;
}

.calendar-div {
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 60px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  font-size: 15px;
}

tbody {
  color: black;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

td,
th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  vertical-align: inherit;
  display: table-cell;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-top: 1px solid black;
  color: black;
}

.table-even {
  background-color: white;
}

.table-odd {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 990px),
  (max-device-width: 1024px) and (min-device-width: 768px) td {
  border: none;
  position: relative;
  padding-left: 50%;
}

@media only screen and (max-width: 990px),
  (max-device-width: 1024px) and (min-device-width: 768px) table,
  thead,
  tbody,
  th,
  td,
  tr {
  display: block;
}

.teams-div {
  margin-top: 25px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 60px;
  text-align: center;
}

.teams-title {
  font-family: "Raleway";
  color: black;
  font-size: 21px;
  background-color: #d5e8fb;
  width: 100%;
  max-width: 100%;
  font-weight: bolder;
  padding: 8px 25px 8px 25px;
  border: 1px solid #2d71b5;
  text-align: left;
}

.teams-container {
  width: 230px;
  height: 200px;
  display: inline-block;
  margin: 20px 20px 0px;
}

.teams {
  width: 230px;
  height: 200px;
  display: inline-block;
}

.teams-label {
  font-family: "Raleway";
  font-weight: bold;
  color: #25598e;
  font-size: 17px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

#team1 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team1:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team2 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team2:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team3 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team3:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team4 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: repeat;
  border-radius: 6px;
}

#team4:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: repeat;
  border-radius: 6px;
}

#team5 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team5:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team6 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team6:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team7 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team7:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team8 {
  background: url("../teams/teams_img/ambika-wambui.jpeg") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team8:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team9 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team9:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team10 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team10:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team11 {
  background: url("../teams/teams_img/ben-jb.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team11:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team12 {
  background: url("../teams/teams_img/gabby-jason.jpeg") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team12:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team13 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team13:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team14 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team14:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team15 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team15:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team16 {
  background: url("../teams/teams_img/simone-aly-hugging.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}

#team16:hover {
  background: url("../teams/teams_img/simone-and-aly.png") no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 6px;
}
