.hours-blurb {
  font-family: "Raleway";
  color: black;
  font-size: 16px;
  background-color: #ffe9a1;
  width: 100%;
  max-width: 100%;
  font-weight: normal;
  padding: 10px 25px 10px 25px;
  border: 3px solid white;
  outline: 2px solid #ffe9a1;
  margin-bottom: 40px;
  text-align: left;
}

.table-div {
  margin-top: 25px;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 40px;
  text-align: center;
}

#blurb-title {
  font-family: "Raleway";
  color: #ea2222;
  font-size: 16px;
  font-weight: bold;
}

.staff-title {
  font-family: "Raleway";
  color: black;
  font-size: 20px;
  background-color: #d5e8fb;
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  padding: 5px 25px 5px 25px;
  border: 1px solid #25598e;
  text-align: left;
}

.staff {
  width: 230px;
  height: 200px;
  display: inline-block;
}

.staff-container {
  width: 230px;
  height: 540px;
  display: inline-block;
  margin: 30px 20px 0px;
  vertical-align: top;
}

.staff p {
  font-family: "Raleway";
  font-weight: bold;
  color: #25598e;
  font-size: 16px;
  text-align: center;
}

.prof-description {
  width: 231px;
  height: 150px;
  display: inline-block;
  border: 1px solid #dd6262;
  border-radius: 6px;
  margin-bottom: 2%;
  text-align: center;
  padding: 0px 10px;
}

.prof-container {
  width: 230px;
  height: 370px;
  display: inline-block;
  margin: 30px 20px 0px;
  vertical-align: top;
}

.description {
  width: 231px;
  height: 340px;
  display: inline-block;
  border: 1px solid #dd6262;
  border-radius: 6px;
  margin-bottom: 2%;
  text-align: center;
  padding: 0px 10px;
}

.login-container {
  justify-content: center;
  display: flex;
}

#login {
  font-family: "Raleway";
  font-weight: normal;
  color: #2d71b5;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

#name {
  font-family: "Raleway";
  color: #25598e;
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
}

#name-meme {
  text-decoration: none;
  color: #25598e;
}

#comp-img {
  width: auto;
  height: 18px;
  /* padding-right: 10px; */
  float: left;
}

#seny {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#seny:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#doug {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#doug:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#apu1 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#apu1:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#azhu20 {
  background: url("../staff/staff_img/andy-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#azhu20:hover {
  background: url("../staff/staff_img/andy-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#pbaruah {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#pbaruah:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#szhang57 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#szhang57:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#abajaj1 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#abajaj1:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#akopplin {
  background: url("../staff/staff_img/andrew-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#akopplin:hover {
  background: url("../staff/staff_img/andrew-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#amiglani {
  background: url("../staff/staff_img/ambika-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#amiglani:hover {
  background: url("../staff/staff_img/ambika-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#bsilverm {
  background: url("../staff/staff_img/ben-athlete.jpeg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#bsilverm:hover {
  background: url("../staff/staff_img/ben-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#cvogler {
  background: url("../staff/staff_img/cece-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#cvogler:hover {
  background: url("../staff/staff_img/cece-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#cwaweru {
  background: url("../staff/staff_img/wambui-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#cwaweru:hover {
  background: url("../staff/staff_img/wambui-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#gasuncio {
  background: url("../staff/staff_img/gabby-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#gasuncio:hover {
  background: url("../staff/staff_img/gabby-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ggallant {
  background: url("../staff/staff_img/georgia-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ggallant:hover {
  background: url("../staff/staff_img/georgia-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#iilozor {
  background: url("../staff/staff_img/ifechi-athlete.jpeg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#iilozor:hover {
  background: url("../staff/staff_img/ifechi-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ipinedad {
  background: url("../staff/staff_img/ivan-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ipinedad:hover {
  background: url("../staff/staff_img/ivan-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jdermer {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jdermer:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jfischma {
  background: url("../staff/staff_img/jasonf-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jfischma:hover {
  background: url("../staff/staff_img/jasonf-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jwhang3 {
  background: url("../staff/staff_img/jasonw-athlete.jpeg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jwhang3:hover {
  background: url("../staff/staff_img/jasonw-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jgonza40 {
  background: url("../staff/staff_img/jessica-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jgonza40:hover {
  background: url("../staff/staff_img/jessica-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jma28 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jma28:hover {
  background: url("../staff/staff_img/jessy-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jh115 {
  background: url("../staff/staff_img/jordy-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jh115:hover {
  background: url("../staff/staff_img/jordy-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jpark189 {
  background: url("../staff/staff_img/jb-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#jpark189:hover {
  background: url("../staff/staff_img/jb-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#klam4 {
  background: url("../staff/staff_img/kalvin-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#klam4:hover {
  background: url("../staff/staff_img/kalvin-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ksang1 {
  background: url("../staff/staff_img/katherine-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ksang1:hover {
  background: url("../staff/staff_img/katherine-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ktan7 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#ktan7:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#litofish {
  background: url("../staff/staff_img/luna-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#litofish:hover {
  background: url("../staff/staff_img/luna-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#lqu2 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#lqu2:hover {
  background: url("../staff/staff_img/lucy-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#lsim2 {
  background: url("../staff/staff_img/lina-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#lsim2:hover {
  background: url("../staff/staff_img/lina-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mabela {
  background: url("../staff/staff_img/mikey-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mabela:hover {
  background: url("../staff/staff_img/mikey-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mchu6 {
  background: url("../staff/staff_img/martin-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mchu6:hover {
  background: url("../staff/staff_img/martin-portrait.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#msamplet {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#msamplet:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mtrieben {
  background: url("../staff/staff_img/marina-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#mtrieben:hover {
  background: url("../staff/staff_img/marina-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#oorrellj {
  background: url("../staff/staff_img/olivia-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#oorrellj:hover {
  background: url("../staff/staff_img/olivia-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#rkandula {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#rkandula:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#rmalone1 {
  background: url("../staff/staff_img/ian-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#rmalone1:hover {
  background: url("../staff/staff_img/ian-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#smani {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#smani:hover {
  background: url("../staff/staff_img/sarang-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#szhi {
  background: url("../staff/staff_img/sally-athlete.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#szhi:hover {
  background: url("../staff/staff_img/sally-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#tsundar {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#tsundar:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#tjones10 {
  background: url("../staff/staff_img/simone-action.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#tjones10:hover {
  background: url("../staff/staff_img/simone-portrait.png") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#twang58 {
  background: url("../staff/staff_img/tony-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#twang58:hover {
  background: url("../staff/staff_img/tony-portrait.jpeg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#wbuerger {
  background: url("../staff/staff_img/will-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#wbuerger:hover {
  background: url("../staff/staff_img/will-portrait.jpeg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}
#yzheng40 {
  background: url("../staff/staff_img/holly-athlete.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}

#yzheng40:hover {
  background: url("../staff/staff_img/holly-portrait.JPG") no-repeat;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 6px;
}
