.hours-blurb {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 16px;
    background-color: #F8F0B4;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
    padding: 10px 25px 10px 25px;
    border: 3px solid white;
    outline: 2px solid #F8E8B4;
}

.table-div {
    margin-top: 25px;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 25px;
}

#blurb-title {
    font-family: "Arial", sans-serif;
    color: #EA2222;
    font-size: 16px;
    font-weight: bold;
}

.staff-title {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 16px;
    background-color: #F8F0B4;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
}

.staff {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 50px;
}

.staff p {
    font-family: "Arial", sans-serif;
    color: #2D71B5;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

#par {
    font-family: "Arial", sans-serif;
    color: #2D71B5;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

#seny {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#seny:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ataveras {
    background: url("../staff/staff_img/ataveras_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ataveras:hover {
    background: url("../staff/staff_img/ataveras_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mmatsui1 {
    background: url("../staff/staff_img/mmatsui1_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mmatsui1:hover {
    background: url("../staff/staff_img/mmatsui1_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pbaruah {
    background: url("../staff/staff_img/pbaruah.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pbaruah:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhang57 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhang57:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#apu1 {
    background: url("../staff/staff_img/apu1_old.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#apu1:hover {
    background: url("../staff/staff_img/apu1_new.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#azhu20 {
    background: url("../staff/staff_img/azhu20_old.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#azhu20:hover {
    background: url("../staff/staff_img/azhu20_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#arodri36 {
    background: url("../staff/staff_img/arodri36_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#arodri36:hover {
    background: url("../staff/staff_img/arodri36_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#abarzinp {
    background: url("../staff/staff_img/abarnzip_old.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#abarzinp:hover {
    background: url("../staff/staff_img/abarnzip_new.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#bleaphar {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#bleaphar:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#czamarri {
    background: url("../staff/staff_img/czamarri_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#czamarri:hover {
    background: url("../staff/staff_img/czamarri_new.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
}

#cmeyer5 {
    background: url("../staff/staff_img/cmeyer5_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cmeyer5:hover {
    background: url("../staff/staff_img/cmeyer5_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#dthorpe {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#dthorpe:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#dmwaisya {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#dmwaisya:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#emacneal {
    background: url("../staff/staff_img/emacneal_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#emacneal:hover {
    background: url("../staff/staff_img/emacneal_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ekang5 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ekang5:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#esimshau {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#esimshau:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#hhaas1 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#hhaas1:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jfischma {
    background: url("../staff/staff_img/jfischma_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jfischma:hover {
    background: url("../staff/staff_img/jfischma_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
}

#jdai6 {
    background: url("../staff/staff_img/jdai6_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jdai6:hover {
    background: url("../staff/staff_img/jdai6_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jsiegel2 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jsiegel2:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#klam4 {
    background: url("../staff/staff_img/klam_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#klam4:hover {
    background: url("../staff/staff_img/klam_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kka1 {
    background: url("../staff/staff_img/kka1_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kka1:hover {
    background: url("../staff/staff_img/kka1_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kfeng2 {
    background: url("../staff/staff_img/kfeng2_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kfeng2:hover {
    background: url("../staff/staff_img/kfeng2_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kchu {
    background: url("../staff/staff_img/kchu_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kchu:hover {
    background: url("../staff/staff_img/kchu_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kchai1 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#kchai1:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lblackst {
    background: url("../staff/staff_img/lblackst_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lblackst:hover {
    background: url("../staff/staff_img/lblackst_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lreyes1 {
    background: url("../staff/staff_img/lreyes1_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lreyes1:hover {
    background: url("../staff/staff_img/lreyes1_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#litofish {
    background: url("../staff/staff_img/litofish_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#litofish:hover {
    background: url("../staff/staff_img/litofish_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#msamplet {
    background: url("../staff/staff_img/msamplet_old.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#msamplet:hover {
    background: url("../staff/staff_img/msamplet_new.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mgoetz2 {
    background: url("../staff/staff_img/mgoetz2_old.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mgoetz2:hover {
    background: url("../staff/staff_img/mgoetz2_new.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mwu27 {
    background: url("../staff/staff_img/mwu27_old.JPG") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mwu27:hover {
    background: url("../staff/staff_img/mwu27_new.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mmcdonne {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mmcdonne:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ndo3 {
    background: url("../staff/staff_img/ndo3_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ndo3:hover {
    background: url("../staff/staff_img/ndo3_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#omadari1 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#omadari1:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pkurani {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pkurani:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#syip2 {
    background: url("../staff/staff_img/syip2_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#syip2:hover {
    background: url("../staff/staff_img/syip2_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#salvara1 {
    background: url("../staff/staff_img/salvara1_old.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#salvara1:hover {
    background: url("../staff/staff_img/salvara1_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
}

#wauten {
    background: url("../staff/staff_img/wauten_old.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#wauten:hover {
    background: url("../staff/staff_img/wauten_new.jpeg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#zweiss3 {
    background: url("../staff/staff_img/whitetom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#zweiss3:hover {
    background: url("../staff/staff_img/blacktom.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
