.hours-blurb {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 16px;
    background-color: #ffe9a1;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
    padding: 10px 25px 10px 25px;
    border: 3px solid white;
    outline: 2px solid #ffe9a1;
}

.table-div {
    margin-top: 25px;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 25px;
}

#blurb-title {
    font-family: "Arial", sans-serif;
    color: #EA2222;
    font-size: 16px;
    font-weight: bold;
}

.staff-title {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 16px;
    background-color: #ffe9a1;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
}

.staff {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 100px;
}

.staff p {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #25598e;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

#login{
    font-family: "Arial", sans-serif;
    font-weight: normal;
    color: #2d71b5;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
}

#par {
    font-family: "Arial", sans-serif;
    color: #25598e;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

#seny {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#seny:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#doug {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#doug:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#apu1 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#apu1:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#azhu20 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#azhu20:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pbaruah {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pbaruah:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhang57 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhang57:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#abajaj1 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#abajaj1:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#akopplin {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#akopplin:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#amiglani {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#amiglani:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#bsilverm {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#bsilverm:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cvogler {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cvogler:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cwaweru {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cwaweru:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#gasuncio {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#gasuncio:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ggallant {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ggallant:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#iilozor {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#iilozor:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ipinedad {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ipinedad:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jdermer {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jdermer:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jfischma {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jfischma:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jgonza40 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jgonza40:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jma28 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jma28:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jh115 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jh115:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jpark189 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jpark189:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jwhang3 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#jwhang3:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#klam4 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#klam4:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ksang1 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ksang1:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ktan7 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#ktan7:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#litofish {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#litofish:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lqu2 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lqu2:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lsim2 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#lsim2:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mabela {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mabela:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mchu6 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mchu6:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#msamplet {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#msamplet:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mtrieben {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mtrieben:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#oorrellj {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#oorrellj:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#rkandula {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#rkandula:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#rmalone1 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#rmalone1:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#smani {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#smani:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhi {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#szhi:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#tsundar {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#tsundar:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#tjones10 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#tjones10:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#twang58 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#twang58:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#wbuerger {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#wbuerger:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#yzheng40 {
    background: url("../staff/staff_img/simone-action.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#yzheng40:hover {
    background: url("../staff/staff_img/simone-biles.jpg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
